/* Contenedor de toda la paginas  */

body {
  background-image: url('../../assets/img/new_wave.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
}

/* Contenedor del login completo la CARD que se ve en centro */

.container{
  height: 100vh;
}

.containerLogin {
  width: 100%;
  background: rgb(255, 255, 255);
  box-shadow: 2px 1px 10px #666;
  margin-top: 5%;
}

/* imagen del modal  */

.imgComunicacion {
  height: 530px;
  margin: 11%;
}

/* navbar del modal 2 palabras */

.NavBarLogin {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 80px;
}

.TextPrincipal {
  transition: all 0.5s;
}

.TextPrincipal:hover {
  font-size: 35px;
}

.TextPrincipal::first-letter {
  color: rgb(100, 52, 216);
}

.TextPrincipalContainer {
  margin: 30px;
}

.textNewUser {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  margin: 10px;
}

.TextUp {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 15px;
  padding-inline-end: 5px;
  background-color: rgb(255, 0, 0);
  border-radius: 30px;
  padding: 5%;
  text-align: center;
  
}

/* Formulario principal contenedor de los input */

.FormLogin {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
  justify-content: space-between;
}

.FormImg {
  width: 50%;
}

.FormInput {
  width: 60%;
  margin: 6%;
  height: 150px;
}

.FormTitulo {
  height: 100px;
}

.textBack {
  font-size: 45px;
  letter-spacing: 3px;
}

.textCon {
  margin: 5px;
  color: rgb(95, 95, 95);
}

.containerForm {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

input {
  height: 70px;
  margin-block-start: 6%;
  width: 95%;
}
.inputPassword {
  text-align: center;
  padding: 0.25em 0.6em;
}

.inputPassword::placeholder {
  background-image: url(../../assets/inputIcon/lock-solid.svg);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 1rem center;
}

.inputGmail {
  text-align: center;
  padding: 0.25em 0.6em;
  border-color: #6434d8;
}

.inputGmail::placeholder {
  background-image: url(../../assets/inputIcon/3289576_user_icon.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 1rem center;
}

.FormButton {
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
}

.FormUsuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-shadow: 2px 1px 10px #666;
  
}

.UsuarioImg{
  padding-top: 8%;
  border-radius: 50%;
}

.btnUsuario{
  background-color: #6434d8;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin: 5%;
}

/* botones de logiarse  */

button {
  display: block;
  border: none;
  text-align: center;
  align-items: center;
  width: 55%;
  height: 50px;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 30px;
}

.btnLogin {
  background-color: #6434d8;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-right: 5%;
}

.btnPassword {
  color: black;
  background-color: #ffffff;
  font-size: 14px;
}

.btnLogin:hover {
  background-color: #ffffff;
  color: black;
}

.btnPassword:hover {
  background-color: #6434d8;
  color: rgb(255, 255, 255);
}

/* Icono de la redes sociales para logiarse */

.FormRedes {
  display: flex;
  flex-direction: row;
  margin: 35px;
  margin-top: 20%;
}

.tituloPrincipalRedes {
  color: rgb(95, 95, 95);
  font-size: 18px;
  margin-right: 10%;
}

.imgRedes {
  height: 25px;
  margin-inline-start: 25%;
  cursor: pointer;
  transition: all 0.5s;
}

.imgRedes:hover {
  height: 35px;
}

.containerIconRedes {
  display: flex;
  flex-direction: row;
  width: 50%;
}

/* Las modificacion cuando el width se esta volvio mas pequeño o forma de celular */

@media screen and (max-width: 1200px) {
  .imgComunicacion {
    height: 430px;
    margin: 11%;
  }
  .FormLogin {
    height: 650px;
  }
}

@media screen and (max-width: 1000px) {
  .FormUsuario{
    width: 100%;
  }
  .FormImg {
    width: 0;
  }

  .imgComunicacion {
    height: 430px;
    display: none;
  }

  .FormInput {
    width: 100%;
    margin: 6%;
  }
}

@media screen and (max-width: 550px) {

  .FormButton {
    width: 100%;
    margin: 6px;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
    align-items: center;
  }

  .btnLogin {
    margin-bottom: 5%;
    margin-right: 0%;
  }

  .textBack {
    font-size: 35px;
    letter-spacing: 3px;
  }
  
  .FormRedes {
    display: flex;
    flex-direction: column;
    margin: 35px;
    align-items: center;
    justify-content: center;
  }
  .tituloPrincipalRedes {
    margin-right: 0;
  }

  .containerIconRedes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .imgRedes {
    height: 25px;
    cursor: pointer;
    transition: all 0.5s;
    margin-inline-start: 0%;
  }

  .textUser {
    padding-inline-end: 5px;
    display: none;
  }

  .containerLogin {
    margin-top: 0%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100vh; */
  }
}